:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* min-width: 320px; */
  min-height: 100vh;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button, select {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  border: 1px solid grey;
  margin-right:3px;
}
select{
  max-width: 165px;
}
button:hover {
  border-color: #646cff;
}
.app{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 7px;
}

.deleteButton i{
  color: rgba(255, 4, 4, 0.781);
}
.deleteButton i:hover{
  color: rgb(255, 6, 6);
}
.dropDowns{
  margin: 5px;
}
table {
  border-collapse:collapse ;
  display: block;
  overflow-x: auto;
  width: 100%;
  margin: 0px 10px;
}
th, td{
  border: 1px solid #ddd;
  max-width: 100%;
  padding: 8px;
  text-align: left;
}
.edit{
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction:row ;
  gap: 10px;
}
.edit i, .deleteButton i{
  font-size: larger;
  cursor: pointer;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
@media screen and (max-width:1279px) and (min-width:769px){
  table{
    width: 752px;
  }
}
@media screen and (max-width:768px) and (min-width:565px) {
  table{
    width: 560px;
  }
}
@media screen and (max-width:565px){
  table{
    width: 400px;
    margin: 0px;
  }
}